.container {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
}

.column-one-third {
  width: 33.33%;
}

.column-two-thirds {
  width: 66.66%;
}

.column-one-fourth {
  width: 25%;
}

img {
  width: 100%;
}
