.page-formatting {
  white-space: pre;
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  font-size: 50px;
  letter-spacing: 2px;
}

.default {
  text-decoration: underline 3px;
  text-underline-position: under;
}

.correct {
  color: lime;
}

.wrong {
  color: red;
  text-decoration: underline red 3px;
  text-underline-position: under;
}
